@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700&family=Oswald&display=swap');
$monts: 'Montserrat', sans-serif;
$osw: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;
$blue: #2e3192;
$green: #78a73f;
$brown-c: #af1c07;
$dp-golden: #f58a37;
$golden: #ce7f42;
// #ff5b33;
$light: #fff;
$box-shadow: 0px 0px 8px #cccccca6;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 0.3rem;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	font: 500 14px $lato;
}

header {
	background: $blue;
	position: relative;
	width: 100%;
	max-width: 1800px;
	margin-right: auto;
	margin-left: auto;
}

a:hover {
	text-decoration: none !important;
}

.c-container {
	width: 100%;
	max-width: 1800px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.o-v-hidden {
	overflow: hidden;
}

nav {
	width: 100%;
	max-width: 1800px;
}

.nav-link {
	color: #fff !important;
}

.nav-item,
.nav-nav-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.icon-light {
		color: $light;
		font-size: 18px;
	}
}

.dropdown {
	.dropdown-menu {
		top: 111% !important;
		left: -37px !important;
		background: #ccc;
	}
}

.dropdown-toggle {
	width: 100px;
	height: 100%;
	position: relative;

	span {
		margin-top: 20px;
	}

	.p0-ab {
		position: absolute;
		top: 2px;
	}
}

.dropdown-toggle::after {
	position: absolute;
	top: 35px;
	right: 0;
}

// Nav bar search field
.rounded-edge {
	width: 40%;
	position: relative;

	.form-control {
		width: 100%;
		border: none;
		border-radius: 50px;
		outline: none;
		box-shadow: none !important;
	}

	.btn {
		width: 75px;
		background: #ccc;
		border: none;
		border-radius: 50px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
		transition: 300ms ease-in-out;

		.icon-light {
			color: $light;
		}

		&:hover {
			background: $dp-golden;
			color: $light;
		}
	}
}

// sub-category
.sub-nav {
	width: 100%;
	margin: 0 auto;
	height: max-content;
	padding: 0.5rem 0;

	ul {
		height: 100%;
		width: 100% !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.sub-nav-item {
		width: max-content;
		height: 100%;
		margin: 0.1rem !important;
	}

	.sub-nav-link {
		display: block;
		width: 100%;
		height: 100%;
		font: 500 16px $monts;
		padding: 0.5rem 1.5rem;
		background: #ccc;
		color: rgb(22, 21, 21);
		transition: 300ms ease-in-out;
		text-align: center;

		&.active {
			background: $dp-golden;
			color: $light;
		}

		&:hover {
			background: $dp-golden;
			color: $light;
		}
	}
}

// Banner
.banner-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

	.banner-1,
	.banner-2 {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.banner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.h-slide {
		width: 100% !important;
		height: 100px !important;
	}
}

.side-banner {
	background: rgb(202, 201, 201);
	width: 100%;
	height: 100%;

	.sb {
		color: #000;
		opacity: 0.7;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.fas {
			transform: translateX(10px) rotate(-45deg);
			color: $light;
		}
	}

	.sb-clip {
		padding: 12px;
		background: $brown-c;
	}

	.sb-tag {
		font: 500 18px $monts;
		margin-left: 15px;
		margin-top: 8px;
	}
}

.card {
	width: 100% !important;
	border-radius: 0;
	padding: 1rem;

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		i {
			color: $golden;
		}

		.price {
			color: $brown-c;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}
}

.card-header {
	display: block;
	width: 100%;
	height: 200px;
	overflow: hidden;

	img {
		width: 100% !important;
	}
}

// Featured
.featured {
	margin-top: 2rem;
}

.f-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 4px solid #000;
}

.f-items {
	width: 100%;
	height: 100%;
	border-right: 4px solid #000;
	text-align: center;
	padding: 25px;

	h6 {
		font: 600 16px $lato;
	}
}

.f-items:last-of-type {
	border: none !important;
}

.s-mt {
	margin-top: 2rem;
}

.sec-label {
	display: inline-block;
	width: max-content;
	margin-right: auto;
	color: #000;
	font: 600 24px $monts;
	border-bottom: 4px solid $dp-golden;
}

// Premium
.pre-p-tag {
	margin-bottom: 1rem;
}

.main-content,
.sales-content,
.best-seller {
	position: relative;

	.item {
		padding: 1rem;
		margin-left: -0.5rem;
	}

	.owl-theme {
		height: max-content;
		.custom-nav,
		.custom-nav-2 {
			position: absolute;
			top: -60px;
			right: -5px;
			z-index: 12;
			width: 78px;

			.owl-prev,
			.owl-next {
				position: absolute;
				height: 30px;
				color: inherit;
				background: $dp-golden;
				border: none;
				border-radius: 0;
				z-index: 100;
				outline: none;

				i {
					font-size: 1.5rem;
					color: #cecece;
				}
			}

			.owl-prev {
				left: 0;
			}

			.owl-next {
				right: 0;
			}
		}
	}

	.card {
		box-shadow: $box-shadow;
		border: none;

		.card-title {
			margin-bottom: 0;
			font: 600 14px $lato;
			opacity: 0.7;
		}

		.item-name {
			display: block;
			height: 30px;
			margin-top: 10px;
			font: 600 14px $monts;
			text-align: center;
			line-height: 18px;
		}

		.price {
			display: flex;
			justify-content: center;
			align-items: center;
			font: 600 14px $monts;
			margin-bottom: 10px;
			padding-top: 1rem;

			.old-price {
				color: $dp-golden;
				text-decoration: line-through;
				margin-right: 10px;
			}

			.new-price {
				color: #000;
			}
		}

		.btn-gld-rounded {
			background: $dp-golden;
			color: $light;
			font: 600 10px $lato;
			letter-spacing: 1px;
			border-radius: 40px;
			text-transform: uppercase;
		}
	}
}

// Shop Banner
.shop-banner {
	.b-img {
		position: relative;
		width: 100%;
		height: 200px;
	}

	.banner-sh {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		color: $light;
		padding: 1.5rem;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		h5 {
			font: 500 16px $monts;
			line-height: 20px;
		}

		.banner-link {
			color: $light;
			font: 400 14px $lato;
		}
	}
}

// Best Sellers
.best-seller {
	.item {
		padding-left: 8px;
	}
	.wrap {
		background: #ccc;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem;

		.img {
			margin-right: 0.8rem;
			width: 100px;
			height: 100px;
		}

		.rating {
			color: $golden;
		}

		.price {
			color: $green;
		}

		.shop-link {
			color: rgba(0, 0, 0, 0.7);
		}
	}
}

.bg-gray {
	background: #ccc;
}

.item-del {
	padding: 1rem;

	.wrap {
		background: $light;

		.title {
			padding-left: 0.8rem;
			padding-right: 0.8rem;
			padding-top: 0.8rem;
			height: 45px;

			h5 {
				font: 600 14px $monts;
			}
		}

		.itm-link {
			padding: 0.8rem;
		}
	}

	.item-desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: start;
		width: 100%;

		.card {
			border: none;
			border-radius: 0;
			padding: 0;

			.card-body {
				padding: 0;
				text-align: left;
				align-items: flex-start;
				justify-content: flex-start;
				margin-left: 0.8rem;
				margin-right: 0.8rem;
			}
		}

		.card.ext {
			padding: 1rem;
		}

		.fl-item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			overflow: hidden;

			img {
				max-width: 100%;
				height: 100px;
				margin: 0.8rem;
			}
		}
	}
}

// Trending Products
.trending-p {
	position: relative;

	.item {
		padding: 0.8rem;
	}
	.card {
		box-shadow: $box-shadow;
		border: none;

		.card-title {
			margin-bottom: 0;
			font: 600 14px $lato;
			opacity: 0.7;
			text-align: center;
		}

		.item-name {
			display: block;
			height: 30px;
			margin-top: 10px;
			font: 600 14px $monts;
			text-align: center;
			line-height: 18px;
		}

		.price {
			display: flex;
			justify-content: center;
			align-items: center;
			font: 600 14px $monts;
			margin-bottom: 10px;

			.old-price {
				color: $dp-golden;
				text-decoration: line-through;
				margin-right: 10px;
			}

			.new-price {
				color: #000;
			}
		}

		.btn-gld-rounded {
			background: $dp-golden;
			color: $light;
			font: 600 10px $lato;
			letter-spacing: 1px;
			border-radius: 40px;
			text-transform: uppercase;
		}
	}

	.mx-neg {
		width: initial;
		margin-right: -15px;
		margin-left: -15px;

		.sub-nav-link {
			font: 600 12px $monts;
			text-transform: uppercase;
			padding-top: 15px;
		}
	}
}

// Product Categories
.p-category {
	.cat {
		background: $light;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 1rem;

		h5 {
			display: block;
			width: 100%;
			padding: 0.8rem;
			border-bottom: 1px solid #ccc;
			font: 600 16px $monts;
		}

		.pro-com {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-self: center;
			position: relative;
			padding: 0.8rem;
			border-bottom: 1px solid #ccc;

			&:after {
				content: '';
				position: absolute;
				right: 15px;
				top: 25px;
				width: 8px;
				height: 8px;
				border-right: 2px solid #ccc;
				border-top: 2px solid #ccc;
				transform: rotate(45deg);
			}

			img {
				width: 25px;
				height: 25px;
				margin-right: 1rem;
			}
		}

		.ads {
			font: 500 12px $monts;

			p:last-of-type {
				position: relative;

				opacity: 0.5;
			}
		}
	}

	.sub-cat {
		background: $light;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
		padding: 0.8rem;

		p {
			opacity: 0.5;
			font-size: 12px;
		}

		img {
			width: 30px;
			height: 30px;
		}
	}

	.item-cat-2 {
		width: 100%;
		background: #e7e7e7;
		// margin-left: -1rem;
		margin-bottom: -1rem;
		padding: 1rem;
	}

	.item-wrapper {
		border-radius: 5px;
		background: $light;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		padding: 1rem 0;

		img {
			width: 70%;
			margin-bottom: 2rem;
		}

		.item-desc {
			font: 400 12px $monts;

			p {
				font-size: 11px;
				opacity: 0.6;
			}
		}
	}
}

// Footer
footer {
	width: 100%;
	position: relative;

	a {
		display: block;
		color: $light;
		transition: 300ms ease-in-out;
	}

	.footer-link {
		h6 {
			color: $light;
			font: 500 18px $osw;
			margin-bottom: 1rem;
		}

		li a {
			padding: 5px 0;

			&:hover {
				color: $light;
				opacity: 0.8;
				transform: translateX(8px);
			}
		}
	}

	.footer-trademark {
		background: #000;
		border-top: 1px solid $light;
		padding: 1rem;

		h4 {
			color: $light;
			text-align: center;
			font-size: 14px;
		}
	}
}

.footer-wrap {
	background: #000;
	width: 100%;
	padding: 1rem;
}

.news-letter {
	color: $light;

	h5 {
		font: 500 22px $osw;
		line-height: 50px;
	}

	p {
		padding-bottom: 0.8rem;
	}

	form {
		position: relative;

		&::placeholder {
			font-size: 10px;
		}

		button {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			border-radius: 0;
			outline: none;
			color: $light;
			background: $dp-golden;

			&:hover {
				color: $light;
				background: $dp-golden;
				opacity: 0.8;
			}
		}
	}

	.form-control {
		border: none;
		border-radius: 0;
		outline: none;
		box-shadow: none;

		&::placeholder {
			font-size: 12px;
		}
	}
}

@media only screen and (max-width: 576px) {
	.f-flex {
		flex-wrap: wrap;
	}

	.f-items {
		border-right: none;
		border-bottom: 4px solid #000;
	}
}
@media only screen and (max-width: 991px) {
	.nav-brand {
		margin-left: 10rem;
	}

	.rounded-edge {
		width: 100%;
	}
}
@media only screen and (min-width: 1040px) {
	.sub-nav {
		ul {
			height: 100%;
			width: 100% !important;
			display: grid;
			grid-auto-columns: 1fr;
			grid-template-columns: repeat(8, 1fr);
			column-gap: 5px;
			overflow: hidden;
		}

		.sub-nav-item {
			width: 100%;
		}
	}

	.sub-nav.mx-neg {
		ul {
			height: 100%;
			width: 100% !important;
			display: grid;
			grid-auto-columns: 1fr;
			grid-template-columns: repeat(7, 1fr);
			column-gap: 5px;
			overflow: hidden;
		}
	}
}
@media only screen and (max-width: 1186px) {
	.side-banner {
		.sb-tag {
			font-size: 14px;
		}
	}
}
@media only screen and (min-width: 1142px) {
	.navbar-brand {
		margin-left: 7rem;
	}
}
