@import 'mainstyle';

main {
	padding: 5rem 0 3rem;
}

.ad-ban {
	position: relative;
	width: 100%;
	height: 500px;
	padding: 1rem;
	margin-bottom: 0.8rem;

	.banner {
		width: 90%;
		height: 100%;
		padding-bottom: 10px;
		border: 2px solid $dp-golden;
		font-size: 12px;
		color: $dp-golden;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.content {
	width: 100%;
	border: 1px solid red;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;

	.img-link {
		height: 100%;
		width: 100%;
		img {
			width: 100%;
		}
	}

	.desc-ext {
		height: 100%;
		padding: 1rem;
	}

	.card {
		height: 100%;
	}
}

.p4-body .pos {
	border-bottom: 1px solid #ced4da40;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	background-color: #ced4da40;
}

.c-red {
	color: red;
	font-size: 18px;
}

.p4-body .d-logo {
	border: 1px solid #ced4da40;
	text-align: center;
	margin-bottom: 15px;
}

.p4-body .d-side {
	height: max-content;
	padding-top: 0.8rem;

	.br-gray {
		border: 1px solid #ced4da;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 0.8rem;
	}
}

.p4-body .h-cat {
	border: 1px solid #ced4da;
	background-color: #ced4da40;
}

.p4-body .p4-bmain {
	padding-right: 1rem;
	padding-left: 7px;
	padding-top: 0.8rem;
}

.p4-body .f-bold {
	font-weight: bold;
}

.p4-body .p4-bmain .menu {
	border: 1px solid #ced4da;

	padding-top: 15px;
	padding-bottom: 15px;
}

.p4-body .p4-bmain .menu a {
	color: red;
	font-weight: bold;
	font-size: 16px;
}

.p4-body .p4-bmain .sort {
	border: 1px solid #ced4da6e;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.p4-body .p4-bmain .fads {
	border-radius: 0;
	color: white;
}

.p4-body .p4-bmain .st-form {
	/* width:13em; */
	height: 30px;
}

.p4-body .p4-bmain .sview {
	font-size: 15px;
}

.marg-0 {
	margin-right: 0;
	margin-left: 0;
}

.cart .trader h6 {
	color: red;
	font-weight: bold;
}

.cart-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 9rem;
}

.cart .l-btn {
	border: 3px solid red;
	border-radius: 0;
	padding: 5px 15px;
	color: red;
	font-weight: bold;
}

.b-cart {
	border: 1px solid #8080805c;
	margin-top: 10px;
}

.barge {
	border: 1px solid #8080802b;
}

.bgd {
	background-color: #f58a37;
	color: white;
	font-weight: bold;
}

.c-gd {
	color: #f58a37;
	font-weight: bold;
}

.snum {
	border: 2px solid #f58a37;
}

.barge .btn {
	border-radius: 0;
	margin-top: 4px;
}

.b-badf {
	border: 1px solid red;
	border-radius: 5px;
	padding: 0 2px;
}

.ad-banner-sm {
	width: 90%;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}

.main-cont {
	width: 100%;
	height: max-content;
	overflow: hidden;
}

.ad-banner {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

.ad-banner-1 {
	margin-bottom: 1rem;
	img {
		width: 100%;
		height: auto;
	}
}

.link {
	position: relative;

	h6 {
		position: absolute;
		left: 50%;
		bottom: 50%;
		transform: translate(-50%, -50%);
		color: $light;
		text-transform: uppercase;
		font: 500 16px $monts;
	}
}

.fullh {
	height: 100%;
}
.latest-p .kh {
	color: black;
	font-size: 12px;
}
.latest-p .late-h {
	background-color: #8080800f;
	border: 1px solid #8080800f;
}
.latest-p .pr {
	font-size: 12px;
}
.latest-p .pr span {
	color: lightgray;
}
.latest-p {
	border: 3px solid #8080804f;
	color: black;
	border-bottom: 0;
}
.latest-p .lt-row {
	border-bottom: 1px solid lightgray;
}
.latest-p .img-set {
	min-height: 65px;
}

.pagination {
	width: 100%;
	height: max-content;

	ul {
		width: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		li a {
			display: block;
			padding: 8px 10px;
			margin: 0 5px;
			color: rgba(0, 0, 0, 0.705);

			border: 1px solid rgb(231, 231, 231);
			transition: 400ms ease-in-out;

			&:hover {
				color: $light;
				background: $dp-golden;
			}

			&.active {
				color: $light;
				background: $dp-golden;
			}
		}

		.next-page {
			display: flex;
			justify-content: center;
			align-items: center;

			span:first-of-type {
				margin-right: 5px;
			}
		}
	}
}

.ad-banner-bottom {
	margin-top: 10px;
	border: 2px solid $dp-golden;
	width: 100%;
	height: 50px;
	position: relative;

	h6 {
		font: 600 12px $lato;
		color: $dp-golden;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, -100%);
	}
}

footer {
	margin-top: 3rem;
	background: black;
}
